<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Lupa Password</title>
</head>
<body>
<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!--　react　-->
<script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
<!-- babel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
<div id="root"></div>
<script type="text/babel">
    'use strict';

    function App() {
        const btnRef = React.useRef();
        const [formData, setFormData] = React.useState({email:"", password:"", confirm_password:""});

        const onEmailChange = ({target}) => {
            const {value} = target
            setFormData({...formData, email:value})
        }

        const onPasswordChange = ({target}) => {
            const {value} = target
            setFormData({...formData, password:value})
        }

        const onConfirmPasswordChange = ({target}) => {
            const {value} = target
            setFormData({...formData, confirm_password:value})
        }

        const handleSubmit = () => {
            btnRef.current.setAttribute("disabled", "disabled");
            axios.post('change-password', formData)
                .then((res) => {
                    alert("Berhasil");
                    setFormData({email:"", password:"", confirm_password:""})
                })
                .catch((err) => {
                    const {message} = err
                    alert(message);
                })
            btnRef.current.removeAttribute("disabled", "disabled");
        }

            return (
                <div class="p-5">
                    <h1>Lupa Password</h1>
                    <form>
                        <div class="mb-3 form-group">
                            <label>Email </label>
                            <input type="text" class="form-control" value={formData.email} placeholder="masukkan email" onChange={onEmailChange} />
                        </div>
                        <div class="mb-3 form-group">
                            <label>Password </label>
                            <input type="password" class="form-control" value={formData.password} placeholder="masukkan password" onChange={onPasswordChange} />
                        </div>
                        <div class="mb-3 form-group">
                            <label>Confirm Password </label>
                            <input type="password" class="form-control" value={formData.confirm_password} placeholder="masukkan konfirmasi password" onChange={onConfirmPasswordChange} />
                        </div>
                        <button ref={btnRef} class="btn btn-primary" type="button" onClick={handleSubmit}>Ubah</button>
                    </form>
                </div>
        );
    }

    const domNode = document.getElementById('root');
    const root = ReactDOM.hydrateRoot(domNode, <App/>);
</script>
</body>
</html>